{
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "parser": "babel-eslint",
  "root": true,
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "plugins": [
    "react"
  ],
  "rules": {
      'no-console': 'off',
      "strict": 0,
      "indent": [2, 4, {"SwitchCase": 1}]
  }
}
